/* 
* @Author: anchen
* @Date:   2014-12-16 22:04:49
* @Last Modified by:   anchen
* @Last Modified time: 2015-01-14 11:07:30
*/
body{
    background: url('../Images/body_repeat.png') repeat-x;
    background-color: #d4d5e0;
}
.wbbody{
    background: url('../Images/body_bg.jpg') no-repeat top center ;
}

.header{
    width: 1000px;
    margin: 20px auto; 
}
.findpic{
    width: 1000px;
}
.findlogo{
    width: 320px;
    height: 50px;
    background: url('../Images/find.png');
}
.left_nav{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.left_nav h3{
    height: 34px;
    line-height: 34px;
}
.left_nav a{
    color: #fff;
    font-weight: 800;
    font-size: 13.4px;
    padding-left: 15px;
    display: block;
}
.left_nav a:hover{
    background: rgba(255,255,255,0.2);
}
.left_nav span{
    display: inline-block;
}

.choosetime ul,.choosefind ul{
    width: 100%;
    height: 38px;
    display: inline-block;

}
.choosesizeall {
    height: 38px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 6px;
    border-color: #f2f2f5;
}
.choosetime li{
    width: 20%;
    height: 38px;
}
.chooseall .lifirst,.chooseall .lilast{
    width: 10%;
}
.choosesize a{
    position: relative;
    position: static\9;
    display: inline-block;
    margin: 0 10px;
    padding: 7px 0;
    height: 23px;
    line-height: 23px;
    margin-bottom: -1px;
}
.choosesize .hotwb{
    width:auto;
    font-weight: 700;
}


.innerwrap{
    margin-top:10px;
    overflow: hidden;
}
.obj_name a{
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    line-height: 16px;
}
.hot_topic{
    display: block;
    margin-left: -16px;
}
.hot_topic li{
    display: inline-block;
    float: left;
    height: 26px;
    overflow: hidden;
    margin-left: 16px;
    width: 91px;
}
.hot_topic a,.hot_topic span{
    display: block;
    line-height: 26px;
}
.hot_topic i,.hot_topic span{
    float: left;
}
.hot_topic i{
    padding:5px 5px 0 0 ;
    display: inline-block;
    width: 14px;
    height: 14px;
}


.b11{
    width: 28px;
}
.bl .r{
    width: 92px;
}
.arrow_bor1{
    padding-left:28px;
}

/*找人的右边*/
.hover{
    padding:6px;

}
.hover img{
    width: 100%;
}
.choosefind li{
    width:auto;
    min-width: 60px;

}
.choosefind i{
   margin: 0 16px 0 10px;
   width: 18px;
   line-height: 30px;
}

.choosefind .screen_box a{
    display: block;
}

.hover {
    text-align: left;

}

