/* 
* @Author: anchen
* @Date:   2014-12-25 11:19:42
* @Last Modified by:   anchen
* @Last Modified time: 2015-01-13 17:22:08
*/
.left_nav{
    width:150px;

}
.left_nav a,.left_nav em{
    color:#fff;
    font-size: 12px;
}
.left_nav h3{
    color: #fff;
}
.lev_box a{
    display: block;
}
.lev_box span{
    display: inline-block;
}
.left_nav .lev{
    height: 34px;
    line-height: 34px;
}
.left_nav a:hover{
    background-color: rgba(255,255,255,0.2);
}
.left_nav .lev_box{
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.lev a,.left_nav h3{
    padding-left:15px;
}
.left_nav h3{
    font-weight: bold;
}
.left_nav h3 a{
    float: right;
    margin-right: 10px;

}
.lev em:after{
    content:"D";
}
.left_nav .ico{
    margin-right: 3px;
}
.choose-ul li{
    width: 142px;
}
.choose-ul li .somespan {
    padding-left: 15px;
    height: 31px;
    line-height: 38px;
    display: block;
}
.choose-ul li span a{
    display: inline-block;
}
.somespan .f{
    padding:0 6px;
}
.se {
    padding-right: 6px;
    font-size: 19px;
}
#search-box{
    
    opacity:0.8;
    filter:alpha(opacity=80);
}
#search-box input{
    color: #808080;
    padding-right: 29px;
}
dd{
    margin-top:3px;
}
dl{
    margin-bottom: 16px;
}
.wb_publish{
    margin-left: 50px;
}
.repeat_list{
    padding: 0 16px 0 70px;
    margin-bottom: -1px;
}
.wb_publish .opt{
    float: left;
}